@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url(fontes/IDroid.otf) format(opentype);
}

@font-face {
    font-family: 'futr';
    src: url(fontes/FUTRFW.TTF) format(truetype);
}


/* HEADER */

body {
    margin: 0;
    background-color: #4BEB8A;
}

header {
    background-image: linear-gradient(#00EB8D ,#031A01);
    color: white;
    padding: 12px;
    margin: 0;
}

h1 {
    font-family: 'futr';
}

.menu {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font: 500 1em 'Work Sans', sans-serif;
    padding: 10px;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: black;
    font: 500 1em 'Work Sans', sans-serif;
    transition: 0.4s;
}

header h1, header p {
    text-align: center;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN */

main > section > img {
    text-align: center;
}

main {
    margin: auto;
    padding: 20px;
    width: 800px;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
}

main h3 {
    font-family: 'Idroid';
    background-image: linear-gradient(90deg, #4BEB8A, white);
    padding: 5px;
}

main h2 {
    font-family: 'Idroid';
}

main h2, main h3 {
    color: #064710;
}

main p {
    text-indent: 30px;
    font-weight: 600;
    text-align: justify;
}

main span {
    color: #19AD39;
}

#video {
    background-color: #064710;
    padding: 10px 0 10px 0;
    text-align: center;
    margin: 0;
}

#sabermais {
    margin-top: 10px;
    background-color: #4BEB8A;
    border-radius: 5px;

}

#sabermais section {
    padding: 15px;
}

aside {
    background-color: #064710;
    margin: 0;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    color: white;
    font-weight: 600;
}

ul {
    display: inline-block;
}

/* FOOTER */

footer {
    margin: auto;
    padding: 10px;
    background-color: #031A01;
    text-align: center;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

footer > p > span {
    font-style: italic;
    font-weight: 600;
}