body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
}

th {
    border: 1px solid black;
    text-align: center;
}

td, th {
    padding: 10px;
}

td {
    padding-right: 30px;
}

tr {
    border: 1px solid black;
} 

.nomes {
    border: 1px solid black;
}