#astronauta {
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
