@font-face {
    font-family: 'Passion One';
    src: url(fontes/Passion_One/PassionOne-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha/Sriracha-Regular.ttf);
}

header {
    background-color: black;
    max-width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    padding: 50px;
    margin: -8px -8px 10px -8px;
}

header > h1 {
    font: normal 400 6em 'Passion One', sans-serif;
    margin: 0;
    margin-bottom: -5px;
}

header > p {
    font-family: sans-serif;
}

header > p > span {
    font-weight: bolder;
}

main {
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
    border-image: linear-gradient(to top, black, white) 50;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    font-size: 2em;
    font-family: 'Sriracha', sans-serif;
}

main p {
    line-height: 25px;
}

section {
    padding-top: 70px;
    padding-bottom: 100px;
}

.fundo1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
}

.fundo2 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
}

div {
    background-color: rgba(0, 0, 0, 0.178);
    padding: 20px;
    max-width: 400px;
    color: white;
}