@font-face {
    font-family: 'Passion One';
    src: url(fontes/Passion_One/PassionOne-Bold.ttf) format(truetype);
}
@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha/Sriracha-Regular.ttf);
}

header {
    background-color: black;
    max-width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    padding: 50px;
    margin: -8px -8px 10px -8px;
}

header > h1 {
    font: normal bold 10em 'Passion One', sans-serif;
    margin: 0;
    margin-bottom: -5px;
}

header > p {
    font-size: 1.2em;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

header > p > span {
    font-weight: 700;
}

main {
    margin-top: 10px;
    padding: 20px;
    font-size: 2em;
    font-family: 'Sriracha', sans-serif;
}

main p {
    font-size: 70px;
    line-height: 70px;
}

section {
    padding-top: 70px;
    padding-bottom: 100px;
}

.fundo1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 100px 40px;
}

.fundo2 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 70px 40px;
}

div {
    background-color: rgba(0, 0, 0, 0.425);
    max-width: 850px;
    padding: 10px;
    color: white;
}